<?xml version="1.0"?>
<robot name="dif_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Args -->
  <xacro:arg name="use_ros2_control" default="false"/>
  <xacro:arg name="ros_distro" default="iron"/>

  <!-- URDF físico del robot (links, joints, inertias, colisiones) -->
  <xacro:include filename="robot.urdf.xacro"/>

  <!-- Sensores físicos (frames, links de sensores) -->
  <!-- <xacro:include filename="sensors.xacro"/> -->

  <!-- Plugins de sensores para GZ -->
  <xacro:include filename="gz_sensors.xacro"/>

  <xacro:include filename="gz_physics.xacro"/>

  <!-- Control diferencial: GZ puro o ros2_control -->
  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="ros2_control.xacro"/>
    <xacro:ros2_control_block/>
    <gazebo>
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find basic_dif_bot_description)/config/diff_drive_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="gz_control.xacro"/>
  </xacro:unless>

</robot>
